---
layout: default
---

<h1>Recent Posts</h1>
<ul>
  {% for post in paginator.posts %}
    <li>
      <a href="{{ post.url }}">{{ post.title }}</a>
      <small>{{ post.date | date: "%Y-%m-%d" }}</small>
    </li>
  {% endfor %}
</ul>

<div class="pagination">
  {% if paginator.previous_page %}
    <a href="{{ paginator.previous_page_path }}">&laquo; Previous</a>
  {% endif %}

  {% assign total_pages = paginator.total_pages %}
  {% assign current_page = paginator.page %}

  {% assign delta = 2 %}
  {% assign left = current_page | minus: delta %}
  {% assign right = current_page | plus: delta %}

  {% if left < 1 %}
    {% assign left = 1 %}
  {% endif %}
  {% if right > total_pages %}
    {% assign right = total_pages %}
  {% endif %}

  {% if left > 1 %}
    <a class="page" href="/">1</a>
    {% if left > 2 %}
      <span class="ellipsis">…</span>
    {% endif %}
  {% endif %}

  {% for i in (left..right) %}
    {% if i == current_page %}
      <span class="page current">{{ i }}</span>
    {% else %}
      <a class="page" href="{% if i == 1 %}/{% else %}/page/{{ i }}/{% endif %}">{{ i }}</a>
    {% endif %}
  {% endfor %}

  {% if right < total_pages %}
    {% assign last_page = total_pages | minus: 1 %}
    {% if right < last_page %}
      <span class="ellipsis">…</span>
    {% endif %}
    <a class="page" href="/page/{{ total_pages }}/">{{ total_pages }}</a>
  {% endif %}

  {% if paginator.next_page %}
    <a href="{{ paginator.next_page_path }}">Next &raquo;</a>
  {% endif %}
</div>
